.carrossel{
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}
.carrossel .fotos{
    width: 1100%;
    animation: animacao 30s infinite;
}

.carrossel .fotos img{
    width: 1915px;
    margin-left: 0;
}

@keyframes animacao {
    0% { margin-left: 0; }
    6% { margin-left: 0; }
    9% { margin-left: -100%; }
    15% { margin-left: -100%; }
    18% { margin-left: -200%; }
    24% { margin-left: -200%; }
    27% { margin-left: -300%; }
    33% { margin-left: -300%; }
    36% { margin-left: -400%; }
    42% { margin-left: -400%; }
    45% { margin-left: -500%; }
    51% { margin-left: -500%; }
    54% { margin-left: -600%; }
    60% { margin-left: -600%; }
    63% { margin-left: -700%; }
    69% { margin-left: -700%; }
    72% { margin-left: -800%; }
    78% { margin-left: -800%; } 
    81% { margin-left: -900%; } 
    87% { margin-left: -900%; } 
    90% { margin-left: -1000%; } 
    96% { margin-left: -1000%; }
    100% {margin-left: -1000%; }
}